# local data & training artifacts
data/
tfrecords/
checkpoints/
checkpoint/
train_runs/
exports/

# TF artifacts
*.tfrecord
*.ckpt
*.ckpt-*
*.index
*.data-*
*.pb
*.tflite

# misc
__pycache__/
.ipynb_checkpoints/
models/
protoc/
*.zip
*.tar
*.tar.gz
